body{
    font-family: Tahoma, sans-serif;
    background-color: gainsboro;
   padding: 0;
    margin: 0;
    font-size: large;
    width: 100%;
    height: 100%;
}
/*Navigation Bar-------------------------------------------------------------*/
.navbar{overflow: hidden;
    background-color: rgb(43, 18, 151);
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    width: 100%;
    height: 80px;
    box-shadow: 0 2px 5px ;
    z-index: 2;
}
a:active{color: white;}
a:hover{ background-color: rgb(43, 18, 151);}
.navbar a{
margin-left: 50px;
text-decoration: none;
}
.navbar a:hover{background-color: transparent!important;
    color: black!important;
}
.nav-active {
    background-color:gainsboro;
    box-shadow: none;
    transition: background-color 200ms linear;
}
.nav_link{
    background-color: rgb(117, 117, 117);
    border-radius: 5px;
    padding: 5px
}
/*Welcome Section----------------------------------------------------------*/
#selfWelcomePic{display: none;}
.welcome{display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    Width: 100%;
    height: 100vh;
    background-color:gainsboro;}
@keyframes slideInFromLeft {
    from { opacity: 0; }
    to   { opacity: 1; }
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }
.welcometext{font-size: 50px;
    color: black;
    animation: 3s ease-out 0s 1 slideInFromLeft;
    z-index: 2;
}
.welcome_desc{
    font-size: 30px;
    animation: 2s ease-out 0s 1 slideInFromLeft;
    z-index: 2;

}
.jesustitle{
padding-right: 50px;
padding-top: 22px;
margin-top: 0;
color: white;}
#selfPic{float: right;
    max-width: 7.5vh;
    border-radius: 30px;
    border: solid rgb(43, 18, 151);
    vertical-align: middle;
    margin-right: 10px;
}

/*About Section---------------------------------------------------------------*/
.aboutBack{width: 100%;
height: 100%;
display: inline-flex;
}
.about{text-align: left;
height: 100%;
width: 80%;
padding-top:100px;
margin-left: 20vh;
font-size: larger;
}
.aboutTitle{font-size: 30px;}
.aboutDesc{align-self: flex-end;
}
.socials{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
    height: 100vh;
}
#linkedIn {
    max-width: 80px;
    margin: auto;
    display: inline-block;
}
.linkedInLogo:hover{background-color: transparent!important;}

/*Projects Section---------------------------------------------------------------*/
#projects{width: 100%;
height: 100vh;
background-color:gainsboro;}
.sizeOfText{width: 50%;}
.category{font-size: 22px;}
#space{margin-top: 120px;
margin-bottom: 50px;}
.projectTitle{text-align: center;
padding-top: 100px;
display:block;}
.listProjects{width: 100%;
height: 60%;
display: flex;
justify-content: space-evenly;
align-items: center;
text-decoration: none;}
#projectApp{width: 18%;
}
.workoutApp{text-decoration: none;
    box-shadow: 0 2px 5px ; 
    transition: all .2s ease-in-out;
overflow:hidden;}
.workoutApp:hover{
    transform: scale(1.1); 
}
.workoutImg{object-fit: cover;
width: 100%;
height: 40vh;
border-top-left-radius: 5px;
border-top-right-radius: 5px;}
.wAppText{text-align: center;
background-color: navy;
padding-top: 20px;
padding-bottom: 20px;
margin: 0;
color: white;
text-decoration: none!important;
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
}

/*Contact Section------------------------------------------------------------------*/
.contactBack{width: 100%;
    height: 30vh;
    background-color:rgb(43, 18, 151);
    color: white;}
#contactText{
    margin-left: 55px;
    }
hr{ 
        width: 85%;
        height: 1px;
        background-color: #000;
        margin: 10px auto;
    }

/*Mobile Friendly------------------------------------------------------------------*/
    /*Desktop Settings*/
@media only screen and (min-width: 684px){
   .menuIcon{display: none;}
   .nav-close{display: none;}
   a:visited{color:white;}
   .text_above_project{display: none;}
}
    /*Mobile Settings*/
@media only screen and (max-width: 684px) {
    .welcometext {
      font-size: x-large;
      width: 70%;
      text-align: center;
    }
    .welcome_desc{
      font-size: large;
      width: 50%;
      text-align: center;
    }
    .welcome{
       
        height: 100vh;
    }
    #selfPic{
        display:none;
    }
    #selfWelcomePic{
        display:flex;
        max-width: 30%;
        border-radius: 30px;
        border: solid rgb(43, 18, 151);
    }
    .linkedInLogo{display: none;}
    .socials{display: none;}
    .about{width: 70%;
        text-align: center;
     padding-top: 75px;
     height: 100%;
     margin-left: auto;
     margin-right: auto;
    }
    #aboutBack{
        height: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .aboutDesc{align-self: center;
        float:right;}
    .sizeOfText{width: 100%;
        display: flex;}
    
    .menuIcon{
        
        width: 6vh;
        cursor: pointer;
        color: white;
    }
    .nav1{position: fixed;
    width: 100%;
    height: 100vh;
    background: #535353;
    top: 80px;
    left: -100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all .5s;
    }
    .navLinks{margin-bottom: 60px;
    margin-top: 50px;
    margin-right: 50px;
    background-color: white;
    color: black;
    padding: 15px 40px;
    border-radius: 5px;
}
    a:active{color:white;}
    .nav-open .nav1{
        left: 0%
    }
    .projectTitle{
        padding-top: 0px;
    }
    .listProjects{
        flex-direction: column;
    }
    #projectApp{width: 70%;
    height: 50%}
    .workoutImg{object-fit: cover;
        width: 100%;
        height: 100%;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;}
}