body{
    font-family: Tahoma, sans-serif;
    background-color: whitesmoke;
   padding: 0;
    margin: 0;
    font-size: large;
    width: 100%;
    height: 100%;
}
/*Navigation Bar-------------------------------------------------------------*/
.navbar{overflow: hidden;
    background-color: rgb(43, 18, 151);
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    width: 100%;
    height: 80px;
    box-shadow: 0 2px 5px ;
    z-index: 2;
}
a:active{color: white;}
a:link{color: black;}
.navbar a:hover{ background-color: rgb(43, 18, 151);}
.navbar a{
margin-left: 50px;
text-decoration: none;
}
.navbar a:hover{background-color: transparent!important;
    color: black!important;
}
.nav-active {
    background-color:whitesmoke;
    box-shadow: none;
    transition: background-color 200ms linear;
}
.nav_menu_color{
    background-color: gainsboro!important;
}

/*Welcome Section----------------------------------------------------------*/
#selfWelcomePic{display: none;}
.welcome{display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    Width: 100%;
    height: 100vh;
    background-color:whitesmoke;}
@keyframes slideInFromLeft {
    from { opacity: 0; }
    to   { opacity: 1; }
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }
.welcometext{font-size: 50px;
    color: black;
    animation: 3s ease-out 0s 1 slideInFromLeft;
    z-index: 2;
}
.welcome_desc{
    font-size: 30px;
    animation: 2s ease-out 0s 1 slideInFromLeft;
    z-index: 2;

}
.jesustitle{
padding-right: 50px;
padding-top: 22px;
margin-top: 0;
color: white;}
#selfPic{float: right;
    max-width: 7.5vh;
    border-radius: 30px;
    border: solid rgb(43, 18, 151);
    vertical-align: middle;
    margin-right: 10px;
}

/*About Section---------------------------------------------------------------*/
.aboutBack{width: 100%;
height: 100%;
display: inline-flex;
}
.about{text-align: left;
height: 100%;
width: 80%;
padding-top:100px;
margin-left: 20vh;
font-size: larger;
}
.aboutTitle{font-size: 30px;}
.aboutDesc{align-self: flex-end;}
.sizeOfText{width: 70%;}
.socials{
    display: flex;
    justify-content: flex-start;
    align-items:center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
    height: 60vh;
}

#linkedIn {
    max-width: 80px;
    margin: auto;
    display: inline-block;
}
.linkedInLogo:hover{background-color: transparent!important;}
.skills_icons{
    width: 100%;
    height: 70px;
    display: inline-flex;
    justify-content: space-evenly;
    align-items: center;
    border: solid rgb(43, 18, 151) 1px;
    border-radius: 10px;;
}
.skill_icon_edit{
    height: 100%;
    width: 100%;

}
.icon_link{
    height: 80%;
}
.icon_link a{
    color: transparent;
}


/*Projects Section---------------------------------------------------------------*/
#projects{width: 100%;
height: 100vh;
background-color:whitesmoke;}
.category{font-size: 22px;}
#space{margin-top: 120px;
margin-bottom: 50px;}
.projectTitle{text-align: center;
padding-top: 100px;
display:block;}
.listProjects{width: 100%;
height: 60%;
display: flex;
justify-content: space-evenly;
align-items: center;
text-decoration: none;}
#projectApp{width: 18%;
}
.workoutApp{text-decoration: none;
    box-shadow: 0 2px 5px ; 
    transition: all .2s ease-in-out;
overflow:hidden;}
.workoutApp:hover{
    transform: scale(1.1); 
}
.workoutImg{object-fit: cover;
width: 100%;
height: 40vh;
border-top-left-radius: 5px;
border-top-right-radius: 5px;}
.wAppText{text-align: center;
background-color: navy;
padding-top: 20px;
padding-bottom: 20px;
margin: 0;
color: white;
text-decoration: none!important;
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
}

/*Contact Section------------------------------------------------------------------*/
.contactBack{width: 100%;
    height: 30vh;
    background-color:rgb(43, 18, 151);
    color: white;}
#contactText{
    margin-left: 55px;
    }
hr{ 
        width: 85%;
        height: 1px;
        background-color: #000;
        margin: 10px auto;
    }
.contactinfodiv{
    width: 100%;
    text-align: center;
}

/*Mobile Friendly------------------------------------------------------------------*/
    /*Desktop Settings*/
@media only screen and (min-width: 684px){
   .menuIcon{display: none;}
   .nav-close{display: none;}
   a:visited{color:white;}
   .text_above_project{display: none;}
   .nav_link{
    background-color: rgb(117, 117, 117);
    border-radius: 5px;
    padding: 5px}
    .about{
        min-width: 525px;
    }
    a:link{color:white;}

}
    /*Mobile Settings*/
@media only screen and (max-width: 684px) {
    .welcometext {
      font-size: x-large;
      width: 70%;
      text-align: center;
      z-index: 0;
    }
    .welcome_desc{
      font-size: large;
      width: 50%;
      text-align: center;
      z-index: 0;
    }
    .welcome{
       
        height: 100vh;
    }
    #selfPic{
        display:none;
    }
    #selfWelcomePic{
        display:flex;
        max-width: 30%;
        border-radius: 30px;
        border: solid rgb(43, 18, 151);
        z-index: 0;
    }
    .linkedInLogo{display: none;}
    .socials{display: none;}
    .about{width: 70%;
        text-align: center;
     padding-top: 75px;
     height: 100%;
     margin-left: auto;
     margin-right: auto;
    }
    #aboutBack{
        height: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .aboutDesc{align-self: center;
        float:right;
        border: solid rgb(43, 18, 151) 1px;
        border-radius: 10px;}
    .aboutTitle{z-index: 7;}
    .sizeOfText{width: 100%;
        display: flex;}
    
    .menuIcon{
        width: 6vh;
        cursor: pointer;
        color: white;
    }
    .nav1{position: fixed;
    width: 60%;
    height: 40vh;
    background: #535353;
    top: 80px;
    left: -100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all .5s;
    z-index: 10;
    overflow: hidden;
    font-size:medium;
    opacity: 0.9;
    }
    .navbar{z-index: 1;}
    .navLinks, .navLinks2, .navLinks3{margin-bottom: 30px;
    margin-top: 0px;
    margin-right: 50px;
    background-color: white;
    color: black;
    padding: 15px 40px;
    border-radius: 5px;
}
#navs a:link{color:black;}
    a:active{color:black;}
    .nav-open .nav1{
        left: 0%
    }
    .projectTitle{
        padding-top: 0px;
    }
    .listProjects{
        flex-direction: column;
    }
    #projectApp{width: 70%;
        max-width: 390px;
    height: 100%}
    .workoutImg{object-fit: cover;
        width: 100%;
        height: 100%;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;}
        .skills_icons{
            height: 100%;
            width: 80%;
            display: inline-flex;
            
            align-items: center;
            flex-wrap: wrap;
        }
        .skill_icon_edit{
            width: 40%;
        }
        .icon_link{
            width:40%;
        }
}
